{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/login_style.css" %}">
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="styles/login_style.css">
</head>
<body>

<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="form-container">
                    <h3 class="title">My Account</h3>
                    <form class="form-horizontal">
                        <div class="form-icon">
                            <i class="fa fa-user-circle"></i>
                        </div>

                        <form class="p-3 mt-3"  method="post">
                            {% csrf_token %}
                           <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            <input type="text" name="username" id="userName" class="form-control" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password">
                            <span class="forgot"><a href="">Forgot Password?</a></span>
                        </div>
                            {{ from.errors }}
                        <button class="btn signin">Login</button>

                        </form>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

</body>
</html>